/// Progessive Collapsible
/// @link http://heydonworks.com/practical_aria_examples/#progressive-collapsibles

.collapsible {
  padding: 1.5em;
  background: #e0e1ef;

  h3 {
    + {
      [aria-hidden] {
        display: none;
      }

      [aria-hidden='false'] {
        display: block;
      }
    }
  }
}

h3 {
  [aria-expanded] {
    font-family: inherit;
    font-size: inherit;
    display: block;
    width: 100%;
    margin: 0;
    text-align: inherit;
    text-transform: inherit;

    &:before {
      content: '\25ba\0020';
    }
  }

  [aria-expanded='true'] {
    &:before {
      content: '\25bc\0020';
    }
  }
}
