<div class="collapsible">
  <h3>
    <!-- <button>What is this all about?</button> -->
    {% include "@atoms/button.twig" %}
  </h3>
  <div>
    <p>Lorem ipsum with a
      <a href="http://example.com">link thrown in</a>
      etc.</p>
    <p>etc.</p>
  </div>
  <!-- next <h3> here -->
</div>
