<nav class="breadcrumb" role="navigation" aria-label="Breadcrumb Navigation">
  <ol>
    <li>
      <a href="/">Major Page
        <span class="caret">/</span>
      </a>
    </li>
    <li>
      <a href="/">Minor Page
        <span class="caret">/</span>
      </a>
    </li>
    <li>
      <a href="/">Sub Page
        <span class="caret">/</span>
      </a>
    </li>
  </ol>
</nav>

<nav class="breadcrumb small" role="navigation" aria-label="Breadcrumb Navigation">
  <ol>
    <li>
      <a href="/">Major Page
        <span class="caret">/</span>
      </a>
    </li>
    <li>
      <a href="/">Minor Page
        <span class="caret">/</span>
      </a>
    </li>
    <li>
      <a href="/">Sub Page
        <span class="caret">/</span>
      </a>
    </li>
  </ol>
</nav>

<nav class="breadcrumb large" role="navigation" aria-label="Breadcrumb Navigation">
  <ol>
    <li>
      <a href="/">Major Page
        <span class="caret">/</span>
      </a>
    </li>
    <li>
      <a href="/">Minor Page
        <span class="caret">/</span>
      </a>
    </li>
    <li>
      <a href="/">Sub Page
        <span class="caret">/</span>
      </a>
    </li>
  </ol>
</nav>
